body {
    background-color: black;
}

input{
    background-color: white;
    color: black;
    text-align: center;
}

#div1 {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#txbox {
    margin-bottom: 18px;
}

th {
    border-style: solid;
    border-width: 2px;
    border-color: white;
    width: 400px;
    height: 20px;
}

td {
    border-style: solid;
    border-width: 2px;
    border-color: white;
    height: 100px;
}

#tdBorder1 {
    border-radius: 100px 0px 0px 0px;
}

#tdBorder2 {
    border-radius: 0px 0px 0px 100px;
}

#tdBorder3 {
    border-radius: 0px 100px 0px 0px;
}

#tdBorder4 {
    border-radius: 0px 0px 100px 0px;
}

img {
    height: 380px;
    display: block;
    margin: auto;
}

button {
    border-style: ridge;
    border-color: rgb(49, 49, 49);
    border-width: 3px;
    border-radius: 5px;
    width: 80px;
    height: 30px;
}

button:active {
    transform: translate3D(0, -1px, 0) scale(0.97);
    transition: all .4s ease;
}

#td {
    align-items: center;
}

#nomeh {
    color: white;
    text-align: center;
    font-size: 35px;
    margin-top: 30px;
}

#tmudar {
    color: white;
    font-size: 20px;
    text-align: center;
}

#bt {
    display: block;
    margin: auto;
}

#bt1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: auto;
    height: 50px;
    text-align: center;
}

.margemN{
    margin-bottom: 18px;
}

.opc {
    color: white;
    font-size: 15px;
}